* {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: #659dbd;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: 0px;
    background-color: #fbeec1;
   
}

.header {

    color: #05386b;
}

.header nav ul {
    list-style-type: none;


}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

ul {
    display: inline-block;
}

img {
    width: 500px;
    margin-top: 150px;
}

h2 {
    color: #05386b;
}

form{
    margin-top: 0px;
    color: #edf5e1;
}

footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #daad86;
}